

html {
  background-color: #363c44;

}

.header {
 
}

.container {
  width: 500px;
}

.title {
  color: white;
  
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px
}

.keyboard {
  position: fixed;
  bottom: 60px;
}

.tile {
  background-color: #282c34;
  height: 62px;
  width: 62px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 2px;

}
